<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jeffry's Customer List</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Jeffry's Customer List</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/managecustomers">Manage Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createcustomer">Create Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reports">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/import">Import</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/export">Export</a>
        </li>
      </ul>
    </nav>
